body{
    margin: 0px;
    padding: 0px;
    background-color:rgba(5, 5, 5, 0.885);
}

section{
    background-color: rgba(217, 217, 201, 0.682);
    padding: 5px;
    margin: 15px;
    border-radius: 10px;    
}

#profile-pic{
    height: 250px !important;
    width: 250px !important;
    border-radius: 100%;
    object-fit: cover;
}

#section1 img{
    background-color: rgb(252, 252, 249);
    height: 80px;
    width: 80px;
    border-radius: 100%;
    object-fit: contain;
}

#section1 icons{
   
    height: 350px;
    width: 350px;
    border-radius: 100%;
    object-fit: contain;
}

#section1 h1{
    text-align:center;
}


#section2 h2{
    color:rgb(11, 11, 97);
}
#section3 h2{
    color: rgb(11, 11, 97);
}
#section4 h2{
    color: rgb(11, 11, 97);
}
#section5 img{
    height: 450px;
    width: 450px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#section5 h2{
    color: rgb(11, 11, 97);
}

#section6 h2{
    color: rgb(11, 11, 97)
}

#section6 img{
    height: 450;
    width: 450;
    display: block;
    margin-left: auto;
    margin-right: auto;
}